/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

/* Light-theme styles*/

:root.theme-light {
  --title-font-weight: 700;
  --main-font-weight: 400;
  --bg-color: #fff;
  --accent-color: #000;
  --button-text-color: #fff;
  --heart-contour-color: #000;
  --bg-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}

.theme-light .page {
  color: var(--bg-color);
  font-family: var(--main-font);
  background-color: var(--bg-color);
  font-variation-settings: "wght" var(--main-font-weight);
}

.theme-light .header {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.theme-light .header__title {
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-weight: var(--title-font-weight);
}

.theme-light .header__description {
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
}

.theme-light .theme-menu__button {
  color: var(--accent-color);
  font-family: var(--accent-font);
}

.theme-light .theme-menu__button:disabled::before {
  color: var(--accent-color);
}

.theme-light .theme-menu__button::after {
  background-color: var(--accent-color);
}

.theme-light .card {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.theme-light .card-title {
  color: var(--accent-color);
  font-variation-settings: "wght" var(--title-font-weight);
}

.theme-light .card-label {
  color: var(--accent-color);
  font-family: var(--accent-font);
  text-shadow: 0 0 1px var(--label-contour-color);
}

.theme-light .card-description {
  color: var(--accent-color);
  font-weight: var(--main-font-weight);
}

.theme-light .card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.theme-light .card__like-button {
  border: 2px solid var(--accent-color);
}

.theme-light .save-button svg {
  color: var(--bg-color);
}

.theme-light .card__like-button:focus {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.theme-light .card__like-button::after,
.theme-light .save-button::after {
  background-color: var(--accent-color);
}

.theme-light .button__text {
  color: var(--button-text-color);
  font-family: var(--accent-font);
}

.theme-light .save-button {
  border: 2px solid var(--accent-color);
  color: var(--bg-color);
  background-color: var(--bg-color);
}

.theme-light .dialog-container svg {
  color: var(--bg-color);
}

.theme-light .card-picture-container {
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.theme-light .dialog[open] {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.theme-light .dialog-text {
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
}

.theme-light .save-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --title-font-weight: 700;
    --main-font-weight: 400;
    --bg-color: #fff;
    --accent-color: #000;
    --button-text-color: #fff;
    --heart-contour-color: #000;
    --bg-image: repeating-linear-gradient(
        to right,
        #d3d3d3 0,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        to bottom,
        #d3d3d3 0,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  }

  .page {
    color: var(--bg-color);
    font-family: var(--main-font);
    background-color: var(--bg-color);
    font-variation-settings: "wght" var(--main-font-weight);
  }

  .header {
    border: 2px solid var(--accent-color);
    background-color: var(--bg-color);
  }

  .header__title {
    color: var(--accent-color);
    font-family: var(--accent-font);
    font-weight: var(--title-font-weight);
  }

  .header__description {
    color: var(--accent-color);
    font-family: var(--accent-font);
    font-weight: var(--main-font-weight);
  }

  .theme-menu__button {
    color: var(--accent-color);
    font-family: var(--accent-font);
  }

  .theme-menu__button:disabled::before {
    color: var(--accent-color);
  }

  .theme-menu__button::after {
    background-color: var(--accent-color);
  }

  .card {
    border: 2px solid var(--accent-color);
    background-color: var(--bg-color);
  }

  .card-title {
    color: var(--accent-color);
    font-variation-settings: "wght" var(--title-font-weight);
  }

  .card-label {
    color: var(--accent-color);
    font-family: var(--accent-font);
    text-shadow: 0 0 1px var(--label-contour-color);
  }

  .card-description {
    color: var(--accent-color);
    font-weight: var(--main-font-weight);
  }

  .card__icon-button:focus-visible {
    outline: 2px solid transparent;
  }

  .card__icon-button {
    outline: 2px solid transparent;
  }

  .card__like-button {
    border: 2px solid var(--accent-color);
  }

  .save-button svg {
    color: var(--bg-color);
  }

  .card__like-button:focus {
    box-shadow: 2px 2px 0 0 var(--accent-color);
  }

  .card__like-button::after,
  .save-button::after {
    background-color: var(--accent-color);
  }

  .button__text {
    color: var(--button-text-color);
    font-family: var(--accent-font);
  }

  .save-button {
    border: 2px solid var(--accent-color);
    color: var(--bg-color);
    background-color: var(--bg-color);
  }

  .dialog-container svg {
    color: var(--bg-color);
  }

  .card-picture-container {
    border-top: 2px solid var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
  }

  .dialog[open] {
    border: 2px solid var(--accent-color);
    background-color: var(--bg-color);
  }

  .dialog-text {
    color: var(--accent-color);
    font-family: var(--accent-font);
    font-weight: var(--main-font-weight);
  }

  .theme-light .save-button:focus-visible {
    box-shadow: 2px 2px 0 0 var(--accent-color);
  }
}

/* Dark-theme styles*/

:root.theme-dark {
  --title-font-weight: 785;
  --main-font-weight: 465;
  --bg-color: #000;
  --accent-color: #00cc14;
  --button-text-color: #00cc14;
  --heart-contour-color: #00cc14;
  --bg-image: repeating-linear-gradient(
      to right,
      #000 0,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #000 0,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #007f0c, #004306);
}

.theme-dark .page {
  color: var(--bg-color);
  font-family: var(--main-font);
  background-color: var(--bg-color);
}

.theme-dark .header {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.theme-dark .header__title {
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-weight: var(--title-font-weight);
}

.theme-dark .header__description {
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
}

.theme-dark .theme-menu__button {
  color: var(--accent-color);
  font-family: var(--accent-font);
}

.theme-dark .theme-menu__button:disabled::before {
  color: var(--accent-color);
}

.theme-dark .theme-menu__button::after {
  background-color: var(--accent-color);
}

.theme-dark .card {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.theme-dark .card-title {
  color: var(--accent-color);
  font-variation-settings: "wght" var(--title-font-weight);
}

.theme-dark .card-picture-container {
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.theme-dark .card-label {
  color: var(--accent-color);
  font-family: var(--accent-font);
  text-shadow: 0 0 1px var(--label-contour-color);
}

.theme-dark .card-description {
  color: var(--accent-color);
  font-weight: var(--main-font-weight);
}

.theme-dark .card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.theme-dark .card__like-button {
  border: 2px solid var(--accent-color);
}

.theme-dark .card__like-button:focus {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.theme-dark .card__like-button::after,
.theme-dark .save-button::after {
  background-color: var(--accent-color);
}

.theme-dark .button__text {
  color: var(--button-text-color);
  font-family: var(--accent-font);
}

.theme-dark .save-button {
  border: 2px solid var(--accent-color);
  color: var(--bg-color);
  background-color: var(--bg-color);
}

.theme-dark .dialog-container svg {
  color: var(--accent-color);
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.theme-dark .save-button svg {
  color: var(--accent-color);
}

.theme-dark .dialog[open] {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.theme-dark .dialog-text {
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
}

.theme-dark .save-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --title-font-weight: 785;
    --main-font-weight: 465;
    --bg-color: #000;
    --accent-color: #00cc14;
    --button-text-color: #00cc14;
    --heart-contour-color: #00cc14;
    --bg-image: repeating-linear-gradient(
        to right,
        #000 0,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        to bottom,
        #000 0,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(to bottom, #007f0c, #004306);
  }

  .page {
    color: var(--bg-color);
    font-family: var(--main-font);
    background-color: var(--bg-color);
  }

  .header {
    border: 2px solid var(--accent-color);
    background-color: var(--bg-color);
  }

  .header__title {
    color: var(--accent-color);
    font-family: var(--accent-font);
    font-weight: var(--title-font-weight);
  }

  .header__description {
    color: var(--accent-color);
    font-family: var(--accent-font);
    font-weight: var(--main-font-weight);
  }

  .theme-menu__button {
    color: var(--accent-color);
    font-family: var(--accent-font);
  }

  .theme-menu__button:disabled::before {
    color: var(--accent-color);
  }

  .theme-menu__button::after {
    background-color: var(--accent-color);
  }

  .card {
    border: 2px solid var(--accent-color);
    background-color: var(--bg-color);
  }

  .card-title {
    color: var(--accent-color);
    font-variation-settings: "wght" var(--title-font-weight);
  }

  .card-picture-container {
    border-top: 2px solid var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
  }

  .card-label {
    color: var(--accent-color);
    font-family: var(--accent-font);
    text-shadow: 0 0 1px var(--label-contour-color);
  }

  .card-description {
    color: var(--accent-color);
    font-weight: var(--main-font-weight);
  }

  .card__icon-button:focus-visible {
    outline: 2px solid transparent;
  }

  .card__like-button {
    border: 2px solid var(--accent-color);
  }

  .card__like-button:focus {
    box-shadow: 2px 2px 0 0 var(--accent-color);
  }

  .card__like-button::after,
  .save-button::after {
    background-color: var(--accent-color);
  }

  .button__text {
    color: var(--button-text-color);
    font-family: var(--accent-font);
  }

  .save-button {
    border: 2px solid var(--accent-color);
    color: var(--bg-color);
    background-color: var(--bg-color);
  }

  .card__icon-button:focus-visible {
    outline: 2px solid var(--accent-color);
  }

  .dialog-container svg {
    color: var(--accent-color);
  }

  .save-button svg {
    color: var(--accent-color);
  }

  .dialog[open] {
    border: 2px solid var(--accent-color);
    background-color: var(--bg-color);
  }

  .dialog-text {
    color: var(--accent-color);
    font-family: var(--accent-font);
    font-weight: var(--main-font-weight);
  }

  .theme-dark .save-button:focus-visible {
    box-shadow: 2px 2px 0 0 var(--accent-color);
  }
}
