/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
  --title-font-weight: 785;
  --main-font-weight: 465;
  --bg-color: #000;
  --accent-color: #00cc14;
  --heart-sparks-color: #00cc14;
  --heart-contour-color: #00cc14;
  --button-text-color: #00cc14;
}

.page .theme-dark {
  color: var(--accent-color);
}

.theme-dark .save-button svg {
  color: var(--accent-color);
}

.theme-dark .dialog-container svg {
  color: var(--accent-color);
}

.theme-light .dialog-container svg {
  color: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --title-font-weight: 785;
    --main-font-weight: 465;
    --bg-color: #000;
    --accent-color: #00cc14;
  }
}

:root.theme-light {
  --title-font-weight: 700;
  --main-font-weight: 400;
  --bg-color: #fff;
  --accent-color: #000;
  --button-text-color: #fff;
}

@media (prefers-color-scheme: light) {
  :root {
    --title-font-weight: 700;
    --main-font-weight: 400;
    --bg-color: #fff;
    --accent-color: #000;
  }
}
