/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

/* Light-theme styles*/

:root.theme-light {
  --title-font-weight: 700;
  --main-font-weight: 400;
  --bg-color: #fff;
  --accent-color: #000;
  --button-text-color: #fff;
  --heart-contour-color: #000;
  --bg-one: #d3d3d3;
  --bg-two: #e7e7e7;
  --bg-three: #1a1a1a;
}

.theme-light .dialog-container svg {
  color: var(--bg-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --title-font-weight: 700;
    --main-font-weight: 400;
    --bg-color: #fff;
    --accent-color: #000;
    --button-text-color: #fff;
    --heart-contour-color: #000;
    --bg-one: #d3d3d3;
    --bg-two: #e7e7e7;
    --bg-three: #1a1a1a;
  }

  .dialog-container svg {
    color: var(--bg-color);
  }
}

/* Dark-theme styles*/

:root.theme-dark {
  --title-font-weight: 785;
  --main-font-weight: 465;
  --bg-color: #000;
  --accent-color: #00cc14;
  --button-text-color: #00cc14;
  --heart-contour-color: #00cc14;
  --bg-one: #000;
  --bg-two: #007f0c;
  --bg-three: #004306;
}

.theme-dark .dialog-container svg {
  color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --title-font-weight: 785;
    --main-font-weight: 465;
    --bg-color: #000;
    --accent-color: #00cc14;
    --button-text-color: #00cc14;
    --heart-contour-color: #00cc14;
    --bg-one: #000;
    --bg-two: #007f0c;
    --bg-three: #004306;
  }

  .dialog-container svg {
    color: var(--accent-color);
  }
}
